variables:
  IMAGE_NAME: Mshad/simplebank
  IMAGE_TAG: simpleBank-app-1.0.1

stages:
  - test
  - build

run_test:
  stage: test
  only:
    - develop
  image: golang:latest
  services:
    - docker:dind
    - postgres:latest
  
  variables:
          DATABASE_URL: localhost://root@root:5432/simple_database
  
  script:
    - apt-get update
    - curl -L https://github.com/golang-migrate/migrate/releases/download/v4.15.2/migrate.linux-amd64.tar.gz | tar xvz
    - mv migrate /usr/bin/migrate
    - which migrate 
    - make migrateup
    - make test
